<div class="w-full bg-center bg-cover border-b border-[#1D1D1D]" style="background-image: linear-gradient(to right, rgba(255,255,255,0.95), rgba(255,255,255,0.3)), url(/dist/jpg/ship-containers-cta.jpg);">
  <div class="max-w-screen-xl min-w-screen-xl mx-auto py-[100px]">
    <h2 class="text-[38px] leading-10 mb-[10px]">ASCM Member Benefits</h2>
    <ul class="w-[582px] mb-[20px] -ml-2">
      <li class="text-4xl list-image-[url(/dist/svg/check-solid.svg)]"><span class="text-[24px] ml-2">Salary increase up to 21%*</span><br class="" /><span class="text-[16px] ml-2">(in conjunction with CPIM certification)</span></li>
      <li class="text-4xl list-image-[url(/dist/svg/check-solid.svg)]"><span class="text-[24px] ml-2">Discounts on APICS certifications</span></li>
      <li class="text-4xl list-image-[url(/dist/svg/check-solid.svg)]"><span class="text-[24px] ml-2">Sustained professional development</span></li>
      <li class="text-4xl list-image-[url(/dist/svg/check-solid.svg)]"><span class="text-[24px] ml-2">Network of 45,000+ supply chain professionals</span></li>
      <li class="text-4xl list-image-[url(/dist/svg/check-solid.svg)]"><span class="text-[24px] ml-2">1,000+ educational resources to continue growth</span></li>
      <li class="text-4xl list-image-[url(/dist/svg/check-solid.svg)]"><span class="text-[24px] ml-2">Savings for local in-person chapter events</span></li>
    </ul>
    <div class="h-max w-max bg-white pt-[9px] pb-[11px] pl-[20px] pr-[16px] border border-black text-lg font-semibold">Get Certified »</div>
  </div>
</div>