<div class="mt-[50px]">
  <h2 class="text-[38px] leading-10 mb-[30px]">Chapter Leadership</h2>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-[20px] justify-between place-items-center">
    {% set entries = craft.entries.section('aboutAscmSepa').all() %}
    {% for entry in entries %}
    {% for member in entry.boardMembers %}
    <div class="mb-[30px]">
      <div class="mx-[19px] h-[260px] w-[260px] drop-shadow-2xl"{% if member.headshot.one() %} style="background-image: url({{member.headshot.one().getUrl('headshots')}})"{% endif %}></div>
      <p class="pt-[20px] w-[298px] font-light text-center text-[24px]">{{member.boardMemberName}}</p>
      <p class="pt-[6px] w-[298px] uppercase font-semibold text-center text-[16px]">{{member.boardMemberTitle}}</p>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
  <!--<div class="mx-auto mt-[80px] w-[60px] border-b-[5px] border-[#006B36]">&nbsp;</div><!-- color block -->
</div>