<div class="mt-[50px]">
  <h2 class="text-[38px] leading-10 mb-[30px]">Chapter Leadership</h2>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-[100px] justify-between place-items-center md:place-items-start">
    {% set entries = craft.entries.section('aboutAscmSepa').all() %}
    {% for entry in entries %}
    {% for member in entry.boardMembers %}
    <div class="w-[298px] mb-[30px] text-center">
      <div class="h-[260px] w-full drop-shadow-xl bg-top bg-cover"{% if member.headshot.one() %} style="background-image: url({{member.headshot.one().getUrl()}})"{% endif %}></div>
      <p class="pt-[20px] text-2xl">{{member.boardMemberName}}</p>
      <p class="uppercase font-semibold">{{member.boardMemberTitle}}</p>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
  <!--<div class="mx-auto mt-[80px] w-[60px] border-b-[5px] border-[#006B36]">&nbsp;</div><!-- color block -->
</div>