<div class="border-b border-b-[#E2E5E7] bg-white"> <!--full width container-->
  <div class="max-w-screen-xl min-w-screen-xl mx-auto pt-[20px] pb-[5px]"> <!--inner container-->
    <ul class="list-none indent-0 font-semibold text-[#006B36] text-lg flex flex-row"><!--main nav-->
      <li><a href="/">Home</a></li>
      <li><a href="{{entry.section}}">&nbsp;&nbsp;/&nbsp;&nbsp;{{entry.section}}</a></li>
      <li>&nbsp;&nbsp;/&nbsp;&nbsp;{{entry.title}}</a></li>
    </ul>
  </div>
</div>