<div class="mt-[80px]">
  <h2 class="text-[38px] leading-10 mb-[30px]">Participating Colleges</h2>
  <div class="grid grid-cols-4 gap-[20px] justify-between">
    {% set entries = craft.entries.section('students').all() %}
    {% for entry in entries %}
    {% for college in entry.colleges %}
    <a href="{{college.collegePage}}" class="mb-[30px]">
      <div class="mx-[19px] h-[260px] w-[260px] drop-shadow-2xl" style="background-image: url({{college.collegePhoto.one().getUrl('headshots')}})"></div>
      <div class="pt-[20px] w-[298px] font-light text-center text-[24px]">{{college.collegeName}}</div>
      <div class="pt-[6px] w-[298px] uppercase font-semibold text-center text-[16px]">{{college.collegeLocation}}</div>
    </a>
    {% endfor %}
    {% endfor %}
  </div>
</div>