<div class="py-[100px] bg-[#1D1D1D] text-white"> <!--full width container-->
    <div class="max-w-screen-xl min-w-screen-xl mx-auto grid grid-cols-2"> <!--inner width container-->
      <div> <!--column 1 container-->
        <img src="/dist/svg/ascm-logo-white.svg" alt="ASCM logo" />
        <div class="max-w-[495px] pt-[32px] pb-[78px]">ASCM is an unbiased partner, connecting companies around the world with industry experts, frameworks and global standards to transform supply chains.</div>
        <div class="font-semibold text-[18px]"><!--email list -->
          Connect with ASCM SEPA and stay up to speed.
          <div class="inline-flex mt-[18px]">
            <input type="text" class="w-[323px] h-[45px]" alt="Email Address" />
            <div class="h-max w-max ml-[40px] pt-[9px] pb-[11px] pl-[20px] pr-[16px] border border-white text-lg font-semibold">Subscribe</div><!-- submit button -->
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 pt-[50px] tracking-wide"><!--colum 2 container -->
        <div><!--about column-->
          <h5 class="font-bold">About ASCM SEPA</h5>
          <ul class="list-none indent-0 mb-0">
            <li class="pt-[10px]"><a href="/board">Chapter Leadership</a></li>
            <li class="pt-[10px]"><a href="/bylaws">Bylaws</a></li>
            <li class="pt-[10px]"><a href="/newsletter">Newsletter</a></li>
            <li class="pt-[10px]"><a href="/presidents-letter">President's Message</a></li>
            <li class="pt-[10px]"><a href="https://drive.google.com/drive/folders/1-vWZ1yOyg53m1KFuWq9xMjSRmybUWpVu?usp=sharing" target="_blank">Board Member Login</a></li>
          </ul>
        </div>
        <div><!--resources column-->
          <h5 class="font-bold">Helpful Resources</h5>
          <ul class="list-none indent-0 mb-0">
            <li class="pt-[10px]"><a href="https://www.ascm.org/membership-community/" taget="_blank">Become a Member</a></li>
            <li class="pt-[10px]"><a href="https://www.ascm.org/ascm-insights/" target="_blank">ASCM Blog</a></li>
            <li class="pt-[10px]"><a href="https://www.ascm.org/about-ascm/newsroom/" target="_blank">ASCM Newsroom</a></li>
            <li class="pt-[10px]"><a href="https://www.ascm.org/about-ascm/faqs/" target="_blank">FAQ</a></li>
          </ul>
        </div>
      </div>
      <hr class="mt-[100px] mb-[60px] border-t border-white w-screen-xl col-span-2" />
      <div class="flex justify-items-stretch w-screen-xl col-span-2">
        <div class="text-white text-3xl flex gap-4"><i class="fa-brands fa-linkedin"></i><i class="fa-brands fa-facebook "></i></div>
        <div class="text-xs text-right w-full">© 2024 ASCM Southeastern Pennsylvania Alliance Chapter. All rights reserved. View the <a href="/privacy">privacy policy</a> and <a href="/terms">terms of use</a>. Site designed by <a href="https://pixel-brick.com">Pixel+Brick</a>.</div>
      </div>
    </div>
</div>