<div class="grid md:flex justify-between">
  <div class="">
    <h2 class="-mt-2 text-[40px] font-bold">ASCM Students</h2>
    <div class="h-[40px]">&nbsp;</div>
    <div class="max-w-[582px]"><p class="text-[20px] font-light leading-[38px] text-[#292929]">The ASCM Southeastern Pennsylvania Alliance 
    Chapter serves Philadelphia, Lancaster, York, and Schuykill counties in southeastern Pennsylvania. We are committed to our membership by 
    providing high value education, enhancing communications among resource management professionals and advancing business’ ability to 
    succeed in a changing competitive marketplace.</p></div>
    <div class="mx-auto mt-[60px] w-[60px] border-b-[5px] border-[#006B36]">&nbsp;</div><!-- color block -->
  </div>
  <div class="order-first md:order-none w-full h-[360px] md:w-[616px] md:h-[466px] bg-cover mb-6 md:mb-0" style="background-image: url(/dist/colleges/student-feature.webp)"></div>
</div>