<div class="border-t-[10px] border-t-[#006B36] border-b border-b-[#E2E5E7] bg-white"> <!--full width container-->
    <div class="max-w-screen-xl min-w-screen-xl mx-auto pt-[20px] pb-[20px]"> <!--inner container-->
      <div class="flex mb-[20px]"> <!--logo & buttons container-->
        <div class="w-full"> <!--logo container left align-->
          <a href="/" target="_blank"><img src="/dist/jpg/ASCM_LOGOS_CHAPTERS_COLOR_HZ_SPA_wgs.jpeg" class="max-h-[90px] -ml-4" alt="ASCM Southeastern Pennsylvania Alliance" /></a>
          <h1 class="hidden">ASCM Southeastern Pennsylvania Alliance</h1>
        </div>
        <div class="inline-flex gap-[25px]"><!--calendar/etc buttons right align -->
          <!--<div>Calendar&nbsp;</div>-->
          <p class="font-bold text-xl uppercase place-self-center">Registration</p>
        </div>
      </div>
    </div>
</div>