<div class="h-[450px] md:h-[428px] w-full bg-no-repeat border-b border-[#1D1D1D] align-middle relative" style="">
  <video class="h-full w-full object-cover bg-cover bg-top -z-50 absolute" autoplay muted loop poster="/dist/assets/ASCM-video2-poster.png">
     <source src="/dist/assets/ASCM-video2.webm" />
  </video>
  <div class="w-full h-full z-40" style="background-image: linear-gradient(to bottom right, rgba(255,255,255,0.95), rgba(255,255,255,0.3))">
    <div class="px-8 md:px-0 md:max-w-screen-xl min-w-screen-xl mx-auto pt-[30px] md:pt-[50px] md:pb-0 z-40 relative drop-shadow">
      <h2 class="font-bold text-[40px] leading-10 mb-[10px]">Transform Your World.</h2>
      <ul class="w-screen-sm md:w-[800px] mb-[10px] px-4 list-outside">
        <li class="text-2xl md:text-4xl list-image-[url(/dist/svg/check-solid.svg)]"><span class="text-[18px] md:text-[24px]">Career & Internship Network Availability</span></li>
        <li class="text-2xl md:text-4xl list-image-[url(/dist/svg/check-solid.svg)]"><span class="text-[18px] md:text-[24px]">Education & Certifications</span></li>
        <li class="text-2xl md:text-4xl list-image-[url(/dist/svg/check-solid.svg)]"><span class="text-[18px] md:text-[24px]">Professional Development Meetings</span></li>
        <li class="text-2xl md:text-4xl list-image-[url(/dist/svg/check-solid.svg)]"><span class="text-[18px] md:text-[24px]">Plant Tours & Networking</span></li>
        <li class="text-2xl md:text-4xl list-image-[url(/dist/svg/check-solid.svg)]"><span class="text-[18px] md:text-[24px]">Mentoring for Young Professionals & College Students</span></li>
      </ul>
      <!--<p class="w-[582px] mb-[20px]">ASCM is the global leader in supply chain innovation and leadership— 
      offering transformation through education, networking opportunities, 
      and professional development.</p>-->
      <!--<div class="h-max w-max bg-white pt-[9px] pb-[11px] pl-[20px] pr-[16px] border border-black text-lg font-semibold">View the Value Proposition »</div>-->
    </div>
  </div>
</div>