<div class="h-[428px] w-full bg-center bg-cover border-b border-[#1D1D1D]" style="background-image: url(/dist/jpg/susq-bridge-hero.jpg); background-size: 1920px, 428px">
  <div class="max-w-screen-xl min-w-screen-xl mx-auto pt-[100px]">
    <h2 class="font-bold text-[40px] leading-10 mb-[10px]">Transform Your World.</h2>
    <p class="w-[582px] mb-[20px]">ASCM is the global leader in supply chain innovation and leadership— 
    offering transformation through education, networking opportunities, 
    and professional development.</p>
    <div class="h-max w-max bg-white pt-[9px] pb-[11px] pl-[20px] pr-[16px] border border-black text-lg font-semibold">View the Value Proposition »</div>
  </div>
</div>