<div class="flex gap-0 mt-[100px]">
  <div class="rounded-l min-w-[360px] min-h-[360px] bg-cover" style="background-image: url(/dist/jpg/test-sq.jpg)"></div>
  <div class="bg-[#F2F2F2] w-full pl-[40px] rounded-r border-t-[5px] border-[#006B36]">
    <div class="w-full flex justify-end"><div class="mr-[35px] mt-[30px] pt-[9px] pb-[8px] px-[24px] w-min rounded-full bg-white font-extrabold uppercase text-[#E2E5E7]">Mega&nbsp;Meeting</div></div>
    <div><!-- text -->
      <div><p class="text-lg font-bold text-[#006B36]">March 13, 2024</p></div>
      <div><p class="text-[38px] text-[#292929]">Mini Mega Meeting</p></div>
      <div class="max-w-[747px]"><p class="text-lg font-light text-[#292929]">Come to our 10th Mini-Mega-Meeting sponsored by 
      Institute for Supply Management – Philadelphia, Council of Supply Chain Management Professionals Philadelphia Roundtable,
      ASCM Southeastern Pennsylvania Alliance Chapter, Traffic Club of Philadelphia, Traffic Club of Lehigh Valley, and Warehousing 
      Education and Research Council. The student chapters from Temple TUSCA and Drexel SCMA Universities are joining us.</p></div>
    </div>
    <div class="mt-[35px] mb-[52px] flex gap-[25px]">
      <div class="h-max w-max bg-[#82C341] pt-[9px] pb-[11px] pl-[20px] pr-[20px] text-white text-lg font-semibold">Register</div>
      <div class="h-max w-max bg-white pt-[9px] pb-[11px] pl-[20px] pr-[20px] text-[#82C341] text-lg font-semibold">Learn More</div>
    </div>
  </div>
</div>