<div class="max-w-[828px] min-w-[828px] mx-auto">
  <div class="flex place-content-between h-[238px]">
    <div class="h-full content-stretch">
      <div class="w-full">
        <div class="pt-[9px] pb-[8px] px-[24px] w-min rounded-full bg-[#E2E5E7] font-extrabold uppercase text-white">President's&nbsp;Letter</div>
      </div>
      <div class="self-end">
        <p class="text-[18px] font-bold text-[#006B36]">January 1, 2024</p>
        <h2 class="-mt-1 text-[38px]">President's Letter 2024</h2>
      </div>
    </div>
    <div>
      <div class="mx-[19px] h-full w-[238px] drop-shadow-2xl" style="background-image: url(/dist/headshots/_headshots/113/1659297138932.webp)"></div>
    </div>
  </div>
  <div class="h-[35px]">&nbsp;</div>
  <div><p class="text-[18px] font-light leading-[24px] text-[#292929]">As of January 1st, 2024, I have assumed the responsibilities as President of the ASCM Southeastern Pennsylvania Alliance (SEPA) chapter. I would like to take the opportunity of thanking our past president, Rick Donahoue, for his dedication and visionary leadership through the recent merger between the LORK, Lancaster, Schuylkill, and Philadelphia Area Network (PAN) chapters. Rick has graciously agreed to continue in his role as VP of Education.
<br /><br />
I would also like to extend my gratitude to all our board members and volunteers for their ongoing commitment and tireless efforts. I’m looking forward to the opportunity of leading our chapter with some new and exciting initiatives and would greatly appreciate any feedback and support from you.
<br /><br />
As we embark on 2024, please look out for our announcements for upcoming educational classes, professional development meetings (PDMs), Plant Tours, and networking gatherings. These and other activities will provide unparalleled opportunities for expanding education, learning from industry leaders, networking, and staying abreast of the latest trends in supply chain management. I would welcome any feedback, suggestions, or comments.
<br /><br />
As of January 1st, 2024, I have assumed the responsibilities as President of the ASCM Southeastern Pennsylvania Alliance (SEPA) chapter. I would like to take the opportunity of thanking our past president, Rick Donahoue, for his dedication and visionary leadership through the recent merger between the LORK, Lancaster, Schuylkill, and Philadelphia Area Network (PAN) chapters. Rick has graciously agreed to continue in his role as VP of Education.
<br /><br />
I would also like to extend my gratitude to all our board members and volunteers for their ongoing commitment and tireless efforts. I’m looking forward to the opportunity of leading our chapter with some new and exciting initiatives and would greatly appreciate any feedback and support from you.
<br /><br />
As we embark on 2024, please look out for our announcements for upcoming educational classes, professional development meetings (PDMs), Plant Tours, and networking gatherings. These and other activities will provide unparalleled opportunities for expanding education, learning from industry leaders, networking, and staying abreast of the latest trends in supply chain management. I would welcome any feedback, suggestions, or comments.
<br /><br />
As of January 1st, 2024, I have assumed the responsibilities as President of the ASCM Southeastern Pennsylvania Alliance (SEPA) chapter. I would like to take the opportunity of thanking our past president, Rick Donahoue, for his dedication and visionary leadership through the recent merger between the LORK, Lancaster, Schuylkill, and Philadelphia Area Network (PAN) chapters. Rick has graciously agreed to continue in his role as VP of Education.
<br /><br />
I would also like to extend my gratitude to all our board members and volunteers for their ongoing commitment and tireless efforts. I’m looking forward to the opportunity of leading our chapter with some new and exciting initiatives and would greatly appreciate any feedback and support from you.
<br /><br />
As we embark on 2024, please look out for our announcements for upcoming educational classes, professional development meetings (PDMs), Plant Tours, and networking gatherings. These and other activities will provide unparalleled opportunities for expanding education, learning from industry leaders, networking, and staying abreast of the latest trends in supply chain management. I would welcome any feedback, suggestions, or comments..</p></div>
  <div class="mx-auto mt-[60px] mb-[80px] w-[60px] border-b-[5px] border-[#006B36]">&nbsp;</div><!-- color block -->
  <p class="text-[13px]">Posted in Scholarships on January 1, 2024 by Naomi Tillinger</p>
</div>