<div class="max-w-[828px] min-w-[828px] mx-auto">
  <div class="flex">
    <div class="flex flex-col grow">
      <div class="grow">
        <div class="pt-[9px] pb-[8px] px-[24px] w-min rounded-full bg-[#E2E5E7] font-extrabold uppercase text-white">Scholarship&nbsp;Award</div>
      </div>
      <div class="">
        <p class="text-[18px] font-bold text-[#006B36] mb-0">November 30, 2023</p>
        <h2 class="-mt-1 text-[38px]">Rhea Kumar: 2023 Janet Hillier Scholarship Recipient</h2>
      </div>
    </div>
    <div class="mx-[19px] h-[238px] w-[238px] shrink-0 drop-shadow-2xl" style="background-image: url(/dist/headshots/_headshots/112/1701393072707-1.webp)"></div>
  </div>
  <div class="h-[35px]">&nbsp;</div>
  <div>
    <p class="text-[18px] font-light leading-[24px] text-[#292929]">The ASCM SEPA Chapter is thrilled to award the winner of the 2023 Janet Hillier 
    Scholarship to Rhea Kumar - a Senior in the Fox Honors and University Honors programs at Temple University where she is majoring in Supply Chain 
    Management with a minor in Management Information Systems.  Rhea is heavily involved in the Temple University Supply Chain Association, Net Impact, 
    and the Business Honors Student Association.</p>
    <p class="text-[18px] font-light leading-[24px] text-[#292929]">When accepting the award, Rhea had the below to share:</p>
    <p class="text-[18px] font-light leading-[24px] text-[#292929]">“I am so grateful to ASCM SEPA for providing me with this scholarship to help me 
    fund my future academic endeavors. With this scholarship, I am able to participate in a program through my university to go to Tokyo, Japan to learn 
    more about the supply chain and logistics management of car manufacturing abroad. I hope to continue my involvement in this wonderful organization 
    as I grow in my career.”</p>
    <p class="text-[18px] font-light leading-[24px] text-[#292929]">Please join us in congratulating Rhea on this achievement and a big thank you to 
    all of the 2023 applicants, who each provided strong applications and highlighted their strong engagement with the industry, their communities, 
    and the ASCM organization.</p></div>
  <div class="mx-auto mt-[60px] mb-[80px] w-[60px] border-b-[5px] border-[#006B36]">&nbsp;</div><!-- color block -->
  <p class="text-[13px]">Posted in Scholarships by Naomi Tillinger</p>
</div>