{% extends "_layouts/default.twig" %}

{% block bodyTag %}
  {{ parent()|attr({
    class: 'bg-[#1D1D1D]'
  }) }}
{% endblock %}

{% block content %}
{% block header %}{% include '_partials/header.twig' %}{% endblock %}
<div class="bg-white">
  <div class="max-w-screen-xl min-w-screen-xl mx-auto pt-[40px] pb-[100px] px-6">
    <div class="grid grid-cols-1 md:flex gap-0 mb-[20px]">
      <div class="rounded-l min-w-[280px] h-auto bg-cover bg-bottom" style="background-image: url(/volumes/img/SliderImage1.jpg)"></div>
      <div class="bg-errigal w-full pl-[40px] pb-[40px] rounded-b md:rounded-r">
        <div><!-- text -->
          <h2>Course Calendar PDF</h2>
          <div class="max-w-[800px] pr-4"><p>Download our 2025 course calendar! Use this as a guide to our course offerings for the year, but be sure to check back for the most up-to-date information on course times, locations, and dates.</p></div>
        </div>
        <div class="flex gap-[25px]">
          <a href="/volumes/courses/ASCM-SEPA-Chapter-Educational-Offerings_2025.pdf" class="h-max w-max bg-money pt-[9px] pb-[11px] pl-[20px] pr-[20px] text-white text-lg font-semibold hover:no-underline">Download&ensp;<i class="fa-solid fa-download text-lg"></i></a>
        </div>
      </div>
    </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-[58px] items-center">
        <div><!--img-->
          <img src="/volumes/jpg/2024-hero-cpim-new.jpeg" alt="CPIM course" />
        </div>
        <div><!--text-->
          <h2>CPIM – Certified Production and Inventory Management</h2>
          <p class="text-lg mb-8">Since 1973, the CPIM program has educated more than 90,000 manufacturing professionals 
          on essential terminology, concepts, and strategies related to demand management, procurement and supplier planning, 
          material requirements planning, capacity requirements planning, sales and operations planning, master scheduling, 
          performance measurements, supplier relationships, quality control, and continuous improvement.</p>
          <a href="education/cpim" class="secondaryButton">View the Certification »</a>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-[58px] items-center mt-[100px]">
        <div><!--text-->
          <h2>CSCP – Certified Supply Chain Professional</h2>
          <p class="text-lg mb-8">Now more than ever before, supply chain is essential for businesses to run, consumers 
          to get the goods they need and society to function. APICS Certified Supply Chain Certification (CSCP) is the playbook 
          you need to understand and deliver this critical process. The comprehensive program covers everything you need to know 
          across the global supply chain, from suppliers to customers and back again. Earning your CSCP designation shows that 
          you have the skills to prepare for and overcome disruption, manage risk, and evaluate and implement modern supply chain 
          technologies.</p>
          <a href="education/cscp" class="secondaryButton">View the Certification »</a>
        </div>
        <div class="order-first md:order-none"><!--img-->
          <img src="/volumes/jpg/2024-hero-cscp-new.jpeg" alt="CTSC course" />
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-[58px] items-center mt-[100px]">
        <div><!--img-->
          <img src="/volumes/jpg/2024-hero-cltd-new.jpeg" alt="CLTD course" />
        </div>
        <div><!--text-->
          <h2>CLTD – Certified in Logistics, Transportation, and Distribution</h2>
          <p class="text-lg mb-8">Logistics is top-of-mind for EVERY company delivering products to customers. By earning 
          the Certified in Logistics, Transportation and Distribution (CLTD) designation, you’ll learn best practices along with 
          the latest strategies and trends so you can lead in the logistics, transportation and distribution sectors.</p>
          <a href="education/cltd" class="secondaryButton">View the Certification »</a>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-[58px] items-center mt-[100px]">
        <div><!--text-->
          <h2>CTSC – Certified in Transformation for Supply Chain</h2>
          <p class="text-lg mb-8">Supply chains have faced significant disruptions in recent years. Now more than ever before, 
          supply chain professionals need to become transformational leaders with skills in systems thinking, digital 
          fluency and analytical methods for all types of supply chains. Earning the CTSC demonstrates your expertise 
          in supply chain strategy, proves your ability to lead a major transformation project and sets you apart from 
          the competition—paving the way for new professional opportunities.</p>
          <a href="education/ctsc" class="secondaryButton">View the Certification »</a>
        </div>
        <div class="order-first md:order-none"><!--img-->
          <img src="/volumes/jpg/2024-hero-ctsc-new.jpeg" alt="CTSC course" />
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-[58px] items-center mt-[100px]">
        <div><!--img-->
          <img src="/volumes/jpg/2024-hero-microcerts.png" alt="Microcertifications" />
        </div>
        <div><!--text-->
          <h2>Certificates for supply chain management professionals</h2>
          <p class="text-lg mb-8">Demonstrate your commitment to continuing education and stand out among 
          the competition when you earn an ASCM certificate and digital badge.</p>
          <a href="education/microcertifications" class="secondaryButton">View the Certification »</a>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-[58px] items-center mt-[100px]">
        <div><!--text-->
          <h2>Foundations of Supply Chain Management</h2>
          <p class="text-lg mb-8">A user-friendly, self-paced and modernized learning 
          experience makes the Foundations of Supply Chain Management program motivating, engaging and attainable for beginner 
          to mid-career professionals.</p>
          <a href="education/foscm" class="secondaryButton">View the Certification »</a>
        </div>
        <div class="order-first md:order-none"><!--img-->
          <img src="/volumes/jpg/2024-hero-foscm.png" alt="FOSCM" />
        </div>
      </div>
  </div>
</div>
{% block footer %}{% include '_partials/footer.twig' %}{% endblock %}
{% endblock %}
