{% extends "_layouts/default.twig" %}

{% block bodyTag %}
  {{ parent()|attr({
    class: 'bg-[#1D1D1D]'
  }) }}
{% endblock %}

{% block content %}
{% block header %}{% include '_partials/header.twig' %}{% endblock %}
<div class="bg-white">
  <div class="max-w-screen-xl min-w-screen-xl mx-auto pt-[60px] pb-[100px]">
  {% block copy_image_block %}{% include '_partials/copy_image_block.twig' %}{% endblock %}
  {% block board %}{% include '_partials/board.twig' %}{% endblock %}
  </div>
</div>
{% block footer %}{% include '_partials/footer.twig' %}{% endblock %}
{% endblock %}
