{% extends "_layouts/default.twig" %}

{% block bodyTag %}
  {{ parent()|attr({
    class: 'bg-[#1D1D1D]'
  }) }}
{% endblock %}

{% block content %}
{% block header %}{% include '_partials/header.twig' %}{% endblock %}
{% block hero %}{% include '_partials/hero.twig' %}{% endblock %}
<div class="bg-white">
  <div class="max-w-screen-xl min-w-screen-xl mx-auto py-[100px]">
  {% block item_full %}{% include '_partials/item_full.twig' %}{% endblock %}
  <div class="font-light mt-[80px]">
  <p>Welcome to Southeastern Pennsylvania Alliance Chapter (SEPA), we are excited that 
  you decided to join our chapter. In addition to the values and rewards you might 
  receive from ASCM, our members will enjoy the following additional values.</p>
  <ul>
  <li>Attendance to our annual Top Management Night, admission is free, with the event offering appetizers, door prizes with a cash bar.  Don’t miss out on a great networking opportunity!</li>
  <li>Attendance to our monthly PDM meetings for members of SPAC, will receive a discounted price upon registration.  Non ASCM members or non-members to the chapter the charge is XXXX, chapter members is YYY and students is $15.</li>
  <li>Discounted price for attending Student Chapter sponsored meetings and/or joint meetings with our chapter.</li>
  <li>Discounted price for attending our annual Mega/Joint meeting with other professional organizations.</li>
  <li>Free job posting listed on our website as well as blast E-Mail communication.</li>
  <li>Cost savings for members of SPAC, when registering for any educational classes the chapter is offering.</li>
  <li>Expanded number and frequency of educational classes and Supply Chain professional certificates.</li>
  <li>Opportunity to participate in the annual Janet Hillier Education Scholarship for $2500.00. Applicable to undergraduate students only.</li>
  </ul>
  York College Students in the Operations & Supply Chain curriculum are eligible to apply for the annual endowment the college presents to attend either a CPIM or CSCP class including an exam voucher.
  </div>
  </div>
</div>
{% block apics_cta %}{% include '_partials/apics_cta.twig' %}{% endblock %}
{% block footer %}{% include '_partials/footer.twig' %}{% endblock %}
{% endblock %}
