{% extends "_layouts/default.twig" %}

{% block bodyTag %}
  {{ parent()|attr({
    class: 'bg-[#1D1D1D]'
  }) }}
{% endblock %}

{% block content %}
{% block header %}{% include '_partials/header.twig' %}{% endblock %}
<div class="bg-white">
  <div class="max-w-screen-xl min-w-screen-xl mx-auto pt-[60px] pb-[100px]">
  <div class="flex justify-between">
    <div>
      <h2 class="-mt-2 text-[40px] font-bold">Temple University</h2>
      <div class="h-[40px]">&nbsp;</div>
      <div class="max-w-[582px]"><p class="text-[20px] font-light leading-[38px] text-[#292929]">The Temple University Supply Chain Association exposes students to a variety of professional 
      and personal experiences in the supply chain industry. Each week, we host speaker sessions that enable members to hear from professionals; speakers 
      highlight various topics including but not limited to recruiting, personal work experience, and the future of supply chain management.</p>
      <p class="text-[20px] font-light leading-[38px] text-[#292929]">Apart from meetings, TU-SCA also provides our members with external events. 
      We work closely with professional organizations, such as ISM-Philadelphia, ASCM, CSCMP, etc. These events help students gain a professional network 
      from various people working in the industry.
      <p class="text-[20px] font-light leading-[38px] text-[#292929]">Meetings are held weekly on Mondays from 12:00- 12:50 pm in Alter 232. External 
      events are frequently announced at our meetings as well as updated in the calendar on <a href="https://www.tu-supplychainassociation.org/" target="_blank">the TU-SCA website.</a></p></div>
    </div>
    <div class="w-[616px] h-[466px] bg-cover" style="background-image: url(/dist/colleges/tu-supply-chain-assoc.webp)"></div>
  </div>
  {% block tu_board %}{% include '_partials/tu_board.twig' %}{% endblock %}
</div>
{% block footer %}{% include '_partials/footer.twig' %}{% endblock %}
{% endblock %}
