@import 'base/index.pcss';
@import 'components/index.pcss';
@import 'utilities/index.pcss';

@layer base {
    ul {
        @apply list-disc list-inside indent-2.5 mb-4;
    }
    ol {
        @apply list-decimal list-inside indent-2.5 mb-4;
    }
    p {
        @apply mb-4
    }
    a {
        @apply text-ficus
    }
    a:hover {
        @apply underline
    }
    .main-nav:hover {
        @apply no-underline text-storm
    }
}